absl-py==1.4.0
attrs==23.1.0
contourpy==1.1.1
cycler==0.11.0
flatbuffers==23.5.26
fonttools==4.42.1
importlib-resources==6.0.1
kiwisolver==1.4.5
matplotlib==3.8.0
mediapipe==0.9.1.0
numpy==1.25.2
opencv-contrib-python==4.8.0.76
packaging==23.1
Pillow==10.0.1
protobuf==3.20.3
pygame==2.5.2
pyparsing==3.1.1
python-dateutil==2.8.2
six==1.16.0
zipp==3.16.2
